.animation-card:hover {
    animation-name: zoom-in;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

@media screen and (min-width: 200px) {
  .header-number {
    font-size: 15px;
  }
}

@media screen and (min-width: 360px) {
  .header-background {
    height: 80px;
  }

  .header-header {
    font-size: 2rem;
  }

  .header-number {
    font-size: 20px;
  }
}

@media screen and (min-width: 435px){
  .header-background {
    height: 80px;
  }
}

@media screen and (min-width: 540px) {
  .header-background {
    height: 100px;
  }

  .header-header {
    font-size: 3rem;
  }
}

@media screen and (min-width: 572px){
  .header-background {
    height: 130px;
  }
}

@media screen and (min-width: 820px) {
  .header-header {
    font-size: 3rem;
  }

  .header-background {
    height: 230px;
  }
}

@media screen and (min-width: 571px) {
  .header-background {
    height: 100px;
  }
}

@media screen and (min-width: 1000px){
  .header-background {
    height: 150px;
  }

  .header-header {
    font-size: 5rem;
  }
}

@media screen and (min-width: 1300px){
  .header-background {
    height: 170px;
  }

  .header-header {
    font-size: 5.5rem;
  }

  .header-number {
    font-size: 35px;
  }
}

.karten:hover {
  transform: scale(1.1);
}

.header-background:hover {
  transform: scale(1.1);
  transition-delay: .4s;
  transition-duration: .4s;
}
