.animation-card:hover {
    animation-name: zoom-in;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

@media screen and (min-width: 200px) {
  .header-number {
    font-size: 15px;
  }
}

@media screen and (min-width: 360px) {
  .header-background {
    height: 80px;
  }

  .header-header {
    font-size: 2rem;
  }

  .header-number {
    font-size: 20px;
  }
}

@media screen and (min-width: 435px){
  .header-background {
    height: 80px;
  }
}

@media screen and (min-width: 540px) {
  .header-background {
    height: 100px;
  }

  .header-header {
    font-size: 3rem;
  }

  .header-background {
    top: 380px!important;
    left: 30px!important;
  }
}

@media screen and (min-width: 571px) {
  .header-background {
    height: 100px;
  }
}

@media screen and (min-width: 572px){
  .header-background {
    height: 130px;
  }
}

@media screen and (min-width: 820px) {
  .header-header {
    font-size: 3rem;
  }

  .header-background {
    height: 230px;
  }

  .header-background {
    left: 100px !important;
  }
}

@media screen and (min-width: 1000px){
  .header-background {
    height: 150px!important;
    top: 560px!important;
    left: 100px!important;
  }

  .img-main {
    height: 700px!important;
  }

  .header-header {
    font-size: 3rem;
  }

  .header-number {
    font-size: 1.5rem;
  }

  .logo-img {
    height: 45.188px!important;
  }

  #info-section {
    margin-top: 900px!important;
  }
}

@media screen and (min-width: 1300px){
  .header-background {
    height: 170px;
    top: 570px!important;
    left: 270px!important;
  }

  .header-number {
    font-size: 25px;
  }
}

@media screen and (min-width: 1900px) {
  .header-background {
    left: 470px!important;
  }
}

@media screen and (min-width: 2200px) {
  .header-background {
    left: 500px!important;
  }
}

@media screen and (min-width: 2300px) {
  .header-background {
    left: 540px!important;
  }
}

@media screen and (min-width: 2500px){
  .header-background {
    left: 650px!important;
  }
}

.karten:hover {
  transform: scale(1.1);
}

.header-background:hover {
  transform: scale(1.1);
  transition-delay: .4s;
  transition-duration: .4s;
}

.links {
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}